<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Moti-Moti | Desserts</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/page_layout.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="">
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
<script src="{{ url_for('static', filename='js/general.js') }}" defer></script>
<script src="" defer></script>

  <div class="layout_container">
    <!----------HEADER---------->
    <header>
      <!-----MOBILE ONLY DROPDOWN MENU----->
      <div class="topnav">
        <a href="{{ url_for('index') }}" class="active">Moti-Moti</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks" class="menuGrid">
          <a href="{{ url_for('index') }}">Main</a>
          <a href="{{ url_for('products') }}">Products</a>
          <a href="{{ url_for('gallery') }}">Gallery</a>
          <a href="{{ url_for('delivery') }}">Cart</a>
          <a href="{{ url_for('contacts') }}">Contacts</a>
          <a href="{{ url_for('locations') }}">Locations</a>
          <a href="{{ url_for('about') }}">About Us</a>
         

          
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="navDropDown()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <!-----TABLET AND LAPTOP MENU----->
      <div id="logo" class="generalLayout">Moti-Moti</div>
      <nav class="generalLayout">
        <ul>
          <li><a href="{{ url_for('index') }}">Main</a></li>
          <li><a href="{{ url_for('delivery') }}">Cart</a></li>
          <li><a href="{{ url_for('about') }}">About Us</a></li>
          <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
          <li><a href="{{ url_for('locations') }}">Locations</a></li>
        </ul>
      </nav>
    </header>
    <!----------SIDEBAR---------->
    <div id="sidebar" class="generalLayout">
      <aside class="sidebar">
        <h2>Categories</h2>
          <ul>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><a href="{{ url_for('reviews') }}">Reviews</a></li>
          </ul>
      </aside>
    </div>

    <!----------MAIN---------->
    <main>

    </main>

    <!----------FOOTER---------->
    <footer>
        <p>Team SweetCoders | Members: Bekasyl, Mereke, Zere, Danial</p>
    </footer>
  </div>
</body>

</html>
